/* NAV BAR
NAV BAR
NAV BAR */

.Nav {
    width: 100vw;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #282828;
    color: #D1E1E9;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    z-index: 2;
    border-bottom: 1px solid #D1E1E9
  }
  
  .navTitle 
  {
    color: #D1E1E9;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .search {
    width: 30%;
    height: 40%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search_text{
    width: 70%;
    padding: 15px 0 15px 5px;
    font-size: 8px;
    font-family: 'Raleway', sans-serif;
    border: 0 none;
    height: 40%;
    margin-right: 0;
    color: #D1E1E9;
    outline: none;
    background: #3E98A8;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
  }
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
  }
  
  .search_text:focus {
    background: #337D8A;
  }
  
  .search-button {
    border: 0 none;
    background: #337D8A;
    width: 30px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    color: #D1E1E9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border: 2px;
    border-radius: 50%;
    border-color: #337D8A;
    border-style: solid;
  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 1024px) {
  
.search_text {
  font-size: 10px;
}  

.navTitle {
  font-size: 1.5rem;
}

.avatar {
  width: 35px;
  height: 35px;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
  
  .search_text {
    font-size: 10px;
  }

  .navTitle {
    font-size: 2rem
  }
  
}