/* APP COLORS:
RED = #EF5B55
GREY = #D1E1E9
BLUE = #3E98A8 DARKER = #337D8A
YELLOW = #E8AA32
black = #282828*/

/* APP FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
 */

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.toUppercase {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

a:visited {
  color: transparent !important;
}

a {
  text-decoration: none;
}

.Nav a {
  text-decoration: none;
}

/* 
.Toastify__toast {
  background-color: #337D8A !important;
  color: white !important;
} */